.all { 
    background-color: #F3EED9;
    height: 100vh;
}

.breve {
    padding-top: 10%;
}

.breve span  {
    font-family: "Playfair Display";
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    font-weight: 500;
    padding-bottom: 1%;
    
}

.breve p {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
}