.gerenciar_informacoes{
    width: 500px;
    display: flex;
    height: 100%;
    padding: 0 3%;
}

.gerenciar_informacoes_left_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d86b67;
    font-size: 20px;
}

.gerenciar_informacoes_content{
    width: 100%;
    padding-left: 4%;
}

.gerenciar_informacoes_content span{
    font-size: 18px;
}

.gerenciar_informacoes_right_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d86b67;
    font-size: 20px;
}