.banner {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner h1,
.banner p {
    color: #FBF9F7;
    margin: 0;
    top: 10vh;
}

.banner h1{
    text-align: center;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1.56px;
    font-size: 50px;
    margin: 1%;
    z-index: 1;
    font-family: 'ProductSans';
}

.banner div{
    margin: 2vh;
}

.banner p {
    font-family: 'ProductSans';
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    line-height: 38px;
    letter-spacing: 1.2px;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    white-space: normal;  
    max-width: 47%;      
    margin: 0 auto;    

}

@media (max-width: 768px) {
    .banner h1{
        font-size: 24px;
    }
    
    .banner p {
        font-size: 16px;
    }
}