.inputWithIcon {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #ffffff;
    
  }

   
  .icon {
    padding-right: 8px;
    color: #d47b6a;
  }
  
  .input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 0.8rem;
  }
  