.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F3EED9;
  width: 100%;

}

.page {
  width: 100%;
  height: 100%;
  max-width: 52%;
  /* border: 4px solid red; */
  background-image: url(/src/assets/Ellipse.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerBotaoConvidados {
  height: 65vh;
}

.formContainer {
  text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.heading {
  font-size: 34px;
  color: #333;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;

}

.description {
  font-size: 1rem;
  color: #514d4d;
  

}


.containerConvidados {
  
  height: 100vh;
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.containerTitulo {

  height: 30%;
  width: 80%;

}

.containerQuemVai {

  height: 10vh;
}

.containerBotao {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 13vh;
}

.conteudoBotao {
  
  height: 10vh;
}

.containerSubtitulo {
  height: 11vh;
  width: 35vw;
  font-family: "Montserrat", sans-serif;

}

.containerSubtitulo p {
  font-family: "Montserrat", sans-serif;
}

.convidadosList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 243px;
  overflow-y: auto;
}

.convidadoItem {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  background-color: #FFF;
  padding: 7px;
  /* height: 42%; */
  gap: 4%;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.convidadoNome {
  flex: 1;
  color: #333;
  
  font-size: 0.9rem;
  width: 10vw;
}

.containerBotaoPresenca {
  font-size: 0.9rem;
  padding: 8px 12px;
  border: none;
  /* border: 2px solid black; */
  /* border-radius: 5px; */
  /* background-color: #E0E0E0; */
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.containerNaoIra {
  font-size: 0.9rem;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color:#696969;
  color: #fbf8f8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button {
  /* font-size: 0.9rem;
  padding: 8px 12px;
  border: none;
  border: 2px solid black;
  background-color: #E0E0E0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease; */
  border: none;
  background: none;
}

.containerPresenca{
display: flex;

background-color: #F9F9F9;
border-radius: 10px;
border: 1px solid #D1CBCB;
}

.naocomparece { 
  color: white;
}
.selectedButton {
  background-color: #d67a66;
  color: #FFF;
}

.continuarButton {
  width: 100%;
  font-size: 1rem;
  padding: 9px;
  background-color: #d67a66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.arrowIcon {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
  }

  .description,
  .button,
  .continuarButton {
    font-size: 0.9rem;
  }

  .convidadoNome {
    font-size: 0.9rem;
  }
}