.convite_modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.convite_modal_body p { 
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 600;
}

.convidado_modal_body p{
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 600;
}

.convite_modal_header_title{
    width: 100%;
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "Playfair Display";
    justify-content: center;
}

.convite_modal_header_close{
    width: 7%;   
}

.convite_modal_body{
    height: 178px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2%;
    font-family: "Montserrat";
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
}

.convite_modal_body label { 
    font-family: "Montserrat";
    padding-bottom: 1%;
}

.convite_modal_body_input{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 2%;
    font-family: "Montserrat";
}

.convite_modal_body_input input{
    padding-left: 2%;
    font-size: 14px;
    height: 6vh;
    font-family: "Montserrat";
    outline: none;
    border: 1px solid #A9a8a8;
}

.convidado_modal_body{
    overflow-y: scroll;
    height: 240px;
    padding-bottom: 2%;
}

.convidado_modal_border{
    border: 1px solid rgba(0, 0, 0, 0.404);
    padding: 2%;
    border-radius: 15px;
    margin-bottom: 3%;
}

.convidado_modal_body p{
    margin: 1% 0 1% 2%;

}

.convidado_modal_body_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}


.convidado_modal_body_inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.convidado_modal_body_input{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";

    width: 47%;
}

.convidado_modal_body_input label{
    font-size: 1rem;
    margin-top: 2%;
    padding-bottom: 1%;
    font-family: "Montserrat";

    
}

.convidado_modal_body_input input{
    font-size: 14px;
    height: 30px;
    padding-left: 2%;
    outline: none;     border: 1px solid #A9a8a8;

}

.convidado_modal_body_input select{
    font-size: 14px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #A9a8a8;
    font-family: "Montserrat";
}

.add_convidado_button button{
    padding: 2% 4%;
    border: none;
    font-family: "Montserrat";
    background-color: #E2E2E2;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.add_convite_button{
    padding: 3% 15%;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;

    background-color: #DD7B78;
    color: white;
    cursor: pointer;
}

.convite_modal_footer{
    display: flex;
    width: 70%;
    justify-content: center;
    height: 100%;
    align-items: center;
}
