.arco_financeiro{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
}

.arco_financeiro_gasto{
    padding: 2%;
    background-color: #c6524e;
}

.arco_financeiro_texto{
    display: flex;
    justify-content: space-between;
    width: 100%;
}