.assessores_page {
    width: 100vw;
    height: 100vh;
}

.assessores_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.assessores_footer{
  height: 10%;
}

  