.fase7{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fase7_title{
    height: 20%;
    display: flex;
    font-family: "Playfair Display", serif;
    align-items: center;
    font-size: 1.3rem;
    justify-content: center;
}

.fase7_body{
    max-height: 70%;
    width: 67%;
    text-align: justify;
    background-color: white;
    padding: 2%;
    overflow-y: scroll;
    border-radius: 15px;
    font-size: 0.9rem;
    box-shadow: 0px 1px 8.4px -4px rgba(0, 0, 0, 0.25);
    font-family: "Montserrat";
}

.fase7_body::-webkit-scrollbar{
    width: 7px;
}

.fase7_body::-webkit-scrollbar-track{
    background-color: #C6524E;
    border-radius: 15px;
}

.fase7_footer{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4%;
}

.fase7_checkbox{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
font-size: 0.9rem;
}

.fase7_checkbox input{
    accent-color: #c6524e;
    width: 3%;
    
}

.fase7_button{
    padding: 2% 12%;
    background-color: #c6524e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Montserrat";

    margin: 3% 0;
}