.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Exibe 4 colunas */
    gap: 45px 55px; /* Espaçamento entre as colunas e linhas */
    padding: 0 100px; /* Padding lateral para centralizar melhor */
  }
  
  .categorias {
    text-align: center;
    padding: 50px 0;
    background-color: #F3EED9;
  }
  
  .searchBarContainer{
    position: absolute;
    bottom: 175px;
    width: 100%;
    z-index: 1;
  }

  .box {
    height: 100%;
    width: 100%;
  }
  

  .box .rectangle {
    background-color: #0000005c;
    filter: drop-shadow(29px 7px 11px black);
    height: 622px;
    left: -21px;
    position: absolute;
    top: 137px;
    width: 101%;
  }

  h2{
    font-size: 50px;
    font-family: 'Playfair Display';
    line-height: 66px;
  }

  p{
    font-size: 27px;
    font-family: 'Playfair Display';
    line-height: 35px;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  