.task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 5.5%;
      border-bottom: 1px solid #eaeaea;
}

.task-list{
    border: 1px solid #eaeaea;
    border-radius: 10px;
}

.task-details{
    display: flex;
    flex-direction: column;
    padding: 5% 0%;
    color: #3E3E3E;
}

.task-details .nameTask {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Montserrat';

}

.dateTask { 
    font-family: 'Montserrat';
    font-size: 0.78rem;
    color: #707070;
}

.respiro { 
    padding-bottom: 2rem;
}

.task{
    display: flex;
    gap: 1vw;
    align-items: center;
}

.tag_container {
    height: 6vh;
}

.tag {
    background-color: #FFFFFF;
    padding: 0.4vh 1vw;
    height: fit-content;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-size: 0.8rem;
    font-family: 'Montserrat';

}

.delete-btn {
    background: none; 
    border: none; 
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

.check_task {
    border-radius: 100%;
    height: 6vh;
    width: 6vh;
    border: solid 2px #ADADAD;
    transition: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
}

.check_task_checked {
    border: solid 2px #3DDB2F;
    background-image: url('../../assets/check_task.svg');
}

.check_container{
    height: 100%;
    display: flex;
    padding: 2% 0%;
}

.delete-btn .icon {
    font-size: 24px; /* Ajusta o tamanho do ícone */
}

.add_task{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    width: fit-content;
    cursor: pointer;
}


.add_task button{
    background-color: transparent;
    border: 0;
    color: #B55557;
}

.task_checked {
    background-color: #F8F8F8;
    transition: 0.5s;
}

.task_checked  h3,
.task_checked  p{
    text-decoration: line-through;
}

.adicionar { 
    font-family: 'Montserrat';
    font-weight: 500;
}