
.modal_overlay {
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    width: 45vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

input:focus {
    outline: none;
}


.container_body { 
    width: 100%;
    height: fit-content;
}

.container_close { 
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    
}

.modal_close {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
}


.iconClose { 
    width: 1.4rem;
}

.modal_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid #979797;
    margin-bottom: 2%;
}

.modal_header h1 {
    font-family: 'PlayFair';
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding: 10px 5px;
    margin: 0px;
}

.modal_body input {
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 40px;
    font-family: "ProductSans";
    width: 35vw;
}

.modal_body select {
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 100%;
    font-family: "ProductSans";
    font-size: 15px;
    width: 35vw;
    outline: none;
}

.modal_body h2 {
    font-family: "ProductSans";
    font-size: 30px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal_body h2 {
    font-family: "ProductSans";
    font-size: 25px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal_body p {
    font-family: "ProductSans";
    color: #333333;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal_body span {
    font-family: "ProductSans";
    color: black;
}

.modal_footer {
    border-top: 1px solid #C3C3C3;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    gap: 15px;
}

.footermodal { 
    border: 2px solid blue;
}
.save_button,
.delete_button,
.cancel_button,
.add_button,
.whatsapp_button {
    width: 15vw;
    height: 7vh;
    border-radius: 10px;
    font-size: 0.9rem;
    border: 0px;
    cursor: pointer;
}

.modal_footer .save_button {
    background-color: #C75552;
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Montserrat';
    transition: 0.5s;
}

.modal_footer .delete_button {
    background-color: #FF5154;
    color: #FFFFFF;
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Montserrat';
    border: 0px;
    transition: 0.5s;
    cursor: pointer;
}

.modal_footer .cancel_button {
    background-color: #EAEAEA;
    color: #766F6F;
    font-weight: 500;
    font-family: 'Montserrat';
    transition: 0.5s;
}
.modal_footer .cancel_button:hover {
    background-color: #e0e0e0;
}


.modal_footer .add_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color:#D86B67;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Montserrat';
    transition: 0.5s;
}

.modal_footer .whatsapp_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #6DC856;
    border-radius: 10px;
    width: 206px;
    height: 43px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat';
    border: 0px;
    transition: 0.5s;
}