header {
  width: 100%;
  height: 25vh;
  background-color: #FFFFFF;
}

.header_logo {
  text-align: center;
  position: relative;
  top: 7vh;
  left: 50%;
  transform: translate(-50%, -40%); 
}

.header_logo h1 {
  font-family: 'Qlassy';
  font-size: 80px;
  font-weight: 400;
  margin: 0;
}

.header_logo h1 b{
  color: #DD7B78;
}

.header_logo p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.header_body {
  padding: 0px 30px;
  height: 16vh;
  display: flex;
  justify-content: space-between;
}

.header_boarder {
  height: 4vh;
  width: 100%;
  background-color: #ED9C9B;
}

.header_buttons {
  display: flex;
  width: 19vw;
  align-items: center;
  justify-content: space-between;
}

.login_button,
.register_button {
  font-family: 'Montserrat';
  border: 0px;
  border-radius: 3px;
  font-weight: 600;
  height: 6vh;
  font-size: 20px;
  padding: 0px 25px;
  cursor: pointer;
  
}

.login_button {
  color:#656565;
  background-color: transparent;
  padding: 0px 20px;
  transition: 0.5s;
}

.login_button:hover {
  background-color: #f3f3f3;
}

.register_button{
  background-color: #DD7B78;
  color: #FFFFFF;
  transition: 0.5s;
}

.register_button:hover{
  background-color: #D26966;
}