@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Qlassy";
  src: url("../assets/fonts/Qlassy.ttf") format("truetype");
}

@font-face {
  font-family: "ProductSans";
  src: url("../assets/fonts/ProductSans-Regular.ttf");
}

 .logo {
  font-size: 34px;
  font-family: "Qlassy";
  color: #131313;
}

.logo > span {
  color: #d86b67;
}

/*

.principal {
  display: flex;
  flex-direction: column;
}
.nav-link {
  color: #302f2f;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.icones_direita {
  display: flex;
  justify-content: space-between;
}



.dropdown_menu {
  width: 60vw;;
  height: 350px;
  padding: 20px 0px;
}
.descricao > span { 
font-size: 13px;
font-family: "Montserrat";
}


.iconsR { 
  color: var(--cor-primaria);
  font-size: 25px;
}




.container_pai {
  display: flex;
  width: 70vw;
  height: 50vh;
}

.container-item { 
  display: flex;
  flex-direction: column;
  height: 50%;
}

.container-item:hover{
  background-color: #f8f9fa;
  cursor: pointer;
  border-radius: 8px;
}


  */


.icon { 
  color: var(--cor-primaria);
  font-size: 20px;  
}

.weddingRing { 
  font-size: 20px;
  color: var(--cor-primaria);
}

 .navbar {
  background-color: #fcfcfc;
  padding: 1rem 2rem;
}

.superior {
  display: flex;
  width: 100%;
  
}

.containerInferior {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
  padding-left: 5rem;
}



.dropdownTitle {
  cursor: pointer;
  font-size: 1rem;
  font-family: "ProductSans";
}



.dropdownContainer {
  position: absolute; /* ou use position: fixed, dependendo de onde você quer que ele apareça */
  top: 100%;; /* posiciona logo abaixo do elemento que o ativa */
  left: 0; /* alinha à esquerda */
  width: 70vw; 
  background-color: #fafbf2; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  display: flex; 
  justify-content: space-between;
  padding: 20px; 
}

.dropdownItem {
  flex: 1; 
  margin-right: 20px; 
}

.dropdownItem:last-child {
  margin-right: 0; 
}


.dropdownItem {
  padding: 1rem;
  cursor: pointer;
  font-family: 'ProductSans';
}

.dropdownItem:hover {
  background-color: #f5f7ed;
  border-radius: 15px;
}

.icon_arrow{
  color: var(--cor-primaria);
  font-size: 15px;
}

.userIcon {
  cursor: pointer;
}

.submenu {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.submenu li {
  display: inline;
  font-size: 14px;
}

.submenu a {
  text-decoration: none;
  color: white;
  padding-bottom: 13px;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "ProductSans";
}
.inferior {
  background-color: var(--cor-primaria);
  width: 90%;
  border-radius: 200px;
  height: 45px;

}

.icone_usuario {
  background-color: var(--cor-secundaria);
  border-radius: 50px;
}

.item_nome {
  font-family: "Playfair Display";
  font-size: 19px;
  padding-left: 9px;
}

.containerMenu { 
  display: flex;
  position: relative;
  justify-content: space-between;
}