@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Qlassy";
  src: url("../assets/fonts/Qlassy.ttf") format("truetype");
}

@font-face {
  font-family: "ProductSans";
  src: url("../assets/fonts/ProductSans-Regular.ttf");
}

.logo {
  font-size: 34px;
  font-family: "Qlassy";
  color: #131313;
}

.logo > span {
  color: #d86b67;
}

.dropdown-toggle::after {
  color: #d86b67;
  border-top: 0.3em solid #d86b67;
}


.principal {
  display: flex;
  flex-direction: column;
}

.superior {
  display: flex;
}

.inferior {
  background-color: var(--cor-primaria);
  width: 90%;
  border-radius: 200px;
  height: 45px;

}

.submenu {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.submenu li {
  display: inline;
  font-size: 14px;
}

.submenu a {
  text-decoration: none;
  color: white;
  padding-bottom: 13px;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "ProductSans";
}

.dropdown-toggle::after {
  color: var(--cor-primaria);
}

.nav-link {
  color: #302f2f;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-toggle::after {
  display: none;
}

.icones_direita {
  display: flex;
  justify-content: space-between;
}

.icone_usuario {
  background-color: var(--cor-secundaria);
  border-radius: 50px;
}

.dropdown_menu {
  width: 60vw;;
  height: 350px;
  padding: 20px 0px;
}
.descricao > span { 
font-size: 13px;
font-family: "Montserrat";
}

.icons { 
  color: var(--cor-primaria);
  
}

.icons_arrow{
  color: var(--cor-primaria);
  font-size: 15px;
}


.container_pai {
  display: flex;
  height: 100%;
}

.container-item { 
  display: flex;
  flex-direction: column;
  height: 50%;
}

.container-item:hover{
  background-color: #f8f9fa;
  cursor: pointer;
  border-radius: 8px;
}

.container_coluna { 
  display: flex; 
  width: 50%;
}



.item-nome { 
  padding-left: 5px;
  font-family: "Playfair Display";
  font-size: 17px;
}

.dropdown-item { 
padding: 7px 0px;
}

.dropdown-item:active {
  background-color: #f8f9fa;
  color: #302f2f;
} 

.bg-body-tertiary {
  background-color: #FCFCFC;
}

@media (max-width: 995px) {
  

.superior {
  display: flex;
  justify-content: space-between;
}

.inferior, .icones_direita {
 display: none;

}
.me-auto {
  flex-direction: column;
  display: flex;
}
}