.gerenciar_modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.gerenciar_modal_header_title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.gerenciar_modal_header_title  > span { 
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 1.5rem;
}

.gerenciar_modal_header_close{
    width: 7%;
    
}

.modais { 
    border: 2px solid red;
}
.gerenciar_modal_body{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}