.user_reviews {
  width: 100%;
  height: 96vh;
    display: flex;
  justify-content: center;
}

.containerReview {
  width: 90%;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.containerTitulo {
  
  justify-content: center;
  display: flex;
  align-items: center;
  height: 15vh;


}

.containerTitulo > span {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.container {
  display: flex;
  width: 100%;
  height: 75%;
  
  align-items: center;
  justify-content: space-evenly;
}

.containerReg { 
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-evenly;

}

.backgroundAvaliacao {
  background-color: #ffafac;
  width: 25vw;
  border-radius: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerAvaliacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%
}

.conteudoAvaliacao { 
    height: 80%;
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.containerMeio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    line-height: 1.3rem;

}

.contMei {
width: 80%;

}

.aspas {
    width: 3.5vw;
} 

.containerInferior { 
    display: flex;
    justify-content: flex-end;
}

.conteinerUsuario {
    display: flex;
    align-items: center;
    width: 70%;
}

.contimg {
    width: 06vw;
    display: flex;
    justify-content: center;

}

.contimg > img { 
    width: 05vw;
}

.containerInfos {
    display: flex;
    flex-direction: column;

}

.containerDesc { 
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";

}

.stars {
    display: flex;
} 

.stars > img { 
    width: 1.2vw;
}   

.containerDesc > span, .nome { 
    font-size: 0.9rem;
}

.nome { 
    font-weight: 700;
}

.carouselContainer {
  display: none;
}

@media (max-width: 360px) {
  .stars > img { 
    width: 4vw;
  } 

  .contimg > img { 
    width: 14vw;
  }

  .container {
    display: none;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backgroundAvaliacao {
    width: 80vw;
    height: 80vw;
    display: flex;
    margin: 10% 0;
    flex-direction: column;
  }

  .navigationButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    margin-top: 10px;
  }

  button {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .containerMeio {
    font-size: 0.7rem;
    width: 85%;
  }

  .contMei {
    height: 60%;
  } 

  .containerAvaliacao {
    height: 80%;
  }

  .containerAvaliacao {
    align-items: center;
    height: 50%;
    position: relative; 
  }
  
  .conteinerUsuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1.2rem; 
  }

  .containerSuperior .aspas {
    position: absolute;
    top: 4%; 
    left: 8%; 
    width: 5vw; 
  }

  .containerInferior .aspas {
    position: absolute;
    top: 85%; 
    right: 8%; 
    width: 5vw; 
  }
}
