.page {
  background-color: #F3EED9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ellipseContainer {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 51%;
    max-width: 720px;
}

.ellipseImage {
  position: absolute;
    width: 85%;
    height: 30%;
    max-width: 800px;
}

.content {
  padding: 20px;
  text-align: center;
  max-width: 500px;
  width: 100%;
  position: relative;
  box-sizing: border-box; 
}

.heading {
  font-size: 4vw;
    font-family: 'Product Sans';
    width: 100%;
    font-weight: 100;
    display: flex;
    color: #333;
    /* margin-top: -20px; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.description {
  font-size: 2vw; 
  color: #514d4d;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  max-width: 400px;
  font-size: 1vw; 
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

img {
  margin-bottom: -13px;
  width: 22%;
}

.button {
  width: 100%;
  max-width: 200px; 
  font-size: 2vw;
  padding: 12px;
  background-color: #d67a66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled {
  background-color: #e8a89b;
}

.errorMessage {
  color: red;
  font-size: 4vw; 
  margin-top: 10px;
}

@media (max-width: 600px) {
  .heading {
    font-size: 8vw;
  }

  .description {
    font-size: 5vw;
  }

  .input {
    font-size: 5vw;
  }

  .button {
    font-size: 5vw;
  }

  .errorMessage {
    font-size: 5vw;
  }
}
