.page {
  background-color: #F3EED9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.defaultBackground {
  background: url('../../assets/Ellipse.png') no-repeat center / cover;
  padding: 198px 40px;
  max-width: 49%;
  width: 100%;
  text-align: center;

}


.errorBackground {
  background: url('../../assets/Ellipse.png') no-repeat center / cover;
  padding: 179px 40px;
  max-width: 49%;
  width: 100%;
  text-align: center;

}

.heading {
  font-size: 2rem;
  font-family: 'Product Sans', sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #514d4d;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  width: 100%;
  max-width: 200px; 
  font-size: 1rem;
  padding: 12px;
  background-color: #d67a66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button:disabled {
  background-color: #e8a89b;
}

.arrowIcon {
  width: 1em;
  height: auto;
}

.errorContainer {
  margin-top: 20px;
  background-color: #ffe6e6;
  padding: 15px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.errorMessage {
  color: #e83737;
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
  }

  .description,
  .input,
  .button,
  .errorMessage {
    font-size: 0.9rem;
  }

  .button {
    padding: 10px;
  }
}
