* {
  box-sizing: border-box;
}

.categoriasContainer {
 padding-left: 2.7rem;
 padding-right: 2.7rem;
 padding-bottom: 2rem;
 padding-top: 2rem;
  max-width: 100%;
}


.grid {
  display: flex;
  gap: calc(1rem - 1px);
  flex-wrap: wrap;
}

.categoriaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f8f3;
  border-radius: 15px;
  padding: 1.5rem 0.5rem;
  border: #eeeeee solid 2px;
  transition: box-shadow 0.3s ease;
}

.categoriaCard:hover {
  box-shadow: 0 6px 12px rgba(175, 175, 175, 0.1);
}

.icone img {
  width: 50px;
}

.textos {
  text-align: center;
  width: 8rem;
}

.titulo {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.9rem;
  color: #2c2c2c;
}

.gerenciar {
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: var(--cor-primaria);
  text-decoration: none;
}

.gerenciar:hover {
  text-decoration: underline;
}

.icone {
  width: 3.3vw;
}

