html {
  scroll-behavior: smooth;
}

.Footer {
  width: 100%;
  background-color: #fff6f6;
  display: flex;
  flex-direction: column;
  margin-top: 22%;
} 

.footer_sections {  
  min-height: 44vh;
  justify-content: center;
  align-items: center;
}

.footer_reg { 
  height: 70%;
  display: flex;
  width: 90%;
  align-items: flex-start;
}

.footer_sections .containerDireita .containerColuna {
  align-items: center;
}

.containerDireita {
  width: 70%;
  display: flex;
  justify-content: center;
  height: 100%;
  
}

.containerColuna {
  width: 19vw;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.containerBox {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-around;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 10vw;
  margin-top: 1%;
}

.containerTitulo > span {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 700;
  color: #514343;
}

.containerOpcoes {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 15vh;
}

a {
  text-decoration: none; 
  color: #514343;   
  font-family: "Montserrat";
  font-size: 0.9rem;
  font-weight: 500;      
}

.containerOpcoes > span,
.containerItem {
  font-family: "Montserrat";
  font-size: 0.9rem;
  font-weight: 500;
  color: #514343;
}

.containerIcon {
  display: flex;
  width: 20px;
  height: 3vh;
  align-items: center;
}

.containerItem {
  display: flex;
  align-items: center;
}

.item {
  font-size: 0.9rem;
  
}

.containerItem .icon {
  color: #ae6261;
}

@media (max-width: 360px){
  .mobileFooter {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color:#fff6f6;
    font-family: "Poppins";
    font-size: 0.8rem;
  }

  .mobileFooter a, .mobileFooter p {
    text-decoration: none;
    font-family: "Montserrat";
    color: #514343;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .mobileFooter p {
    display: block;
  }

  .mobileFooter .faq {
    width: 100%;
    margin-bottom: 4%;
  }

  .footer_reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
  }

  .containerDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
  }

  .containerEsquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .mobileFooter .faq .row:last-child .arrow {
    transform: rotate(0deg);
    color: #ae6261;
    pointer-events: auto;
    cursor: pointer;
  }
}