.Footer {
  width: 100%;
  height: 60vh;
  background-color: #FFF6F6;
}

.footer_sections {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_explore,
.footer_about,
.footer_contact {
  /* background-color: red; */
  height: 100%;
  width: 30%;
}

.footer_explore,
.footer_about,
.footer_contact h2 {
  font-family: 'ProductSans';
  color: #514343;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer_explore,
.footer_about,
.footer_contact p {
  font-family: 'ProductSans';
  width: fit-content;
  color: #514343;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.footer_contact p {
  display: flex;
  gap: 5px;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer_title {
  font-family: 'Qlassy';
  color: #3C3C3C;
  font-size: 3rem;
  font-weight: 400;
}

.footer_div {
  height: 80%;
  width: 1px;
  background-color: #DD7B78;
}

.footer_title b {
  color: #DD7B78;
  font-size: 80px;
  font-weight: 400;
}

.footer_mobile .footer_social_media{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer_mobile .footer_social_media div{
  background-color: #DD7B78;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 7vh;
  border-radius: 100%;
}

.footer_subtitle {
  font-family: 'Montserrat';
  color: #383737;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

.footer_mobile{
  display: none;
}
@media (max-width:768px){
  .footer_mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5vh;
    height: fit-content;
  }

  .faq{
    width: 100%;
  }

  .footer_sections {
    height: fit-content;
    padding: 3vh 8vw;

  }
  
  .footer_explore,
  .footer_about,
  .footer_contact,
  .footer_div {
    display: none;
  }

  .Footer{
    background-color: #F5F1DF;
    height: fit-content;
  }

  .footer_logo {
    display: none;
  }
}