.configuracoesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 73vh;
  /* min-height: 46vh; */
  background-color: #F3EED9;
  /* align-content: center; */
  /* flex-wrap: nowrap;*/
}

.textosCard{
  /* border: 3px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tituloCard{
  /* border: 3px solid green; */
  width: 60vh;
  font-size: 1.5rem;
  height: 9vh;
  font-family: 'Product Sans';
}

.tituloCard2{
  /* border: 3px solid green; */
  width: 56vh;
  font-size: 1.5rem;
  height: 9vh;
  font-family: 'Product Sans';
}

.pencil{
  /* border: 3px solid orange; */
  height: 9vh;
    width: 5%;
}

.pencil2{
  /* border: 3px solid orange; */
  height: 7vh;
  width: 1%;
}

.containerText{
  /* border: 3px solid purple; */
  width: 95%;
  height: 43vh;
}

.tituloPagina {
  font-size: 4.5vh;
  display: flex;
  font-weight: 400;
    font-family: 'PlayFair Display';
    color: #333;
    height: 6vh;
    padding: 1% 3% 1%;
    text-align: center;

}

/* .ConfiguracoesDaConta{
  height: 3vh;

} */

.secoesConfiguracoes {
  display: flex;
  justify-content: center;
  gap: 5%;
  /* border: 3px solid black; */
  height: 91%;
  width: 100%;
  align-content: center;
  align-items: center;
}

.container{
  /* border: 3px solid green; */
    height: 73vh;
    width: 100%;
}

.colunas{
  /* border: 3px solid red; */
  background-color: white;
  width: 72%;
  height: 97%;
  border-radius: 5%;

}
.card {
  display: flex;
  flex-direction: column;
  width: 44%;
  height: 57vh;
  background-color: #fff;
  border: 0.3vh solid #8f8484;
  border-radius: 3vh;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
}


.cardHeader {
  display: flex;
    height: 6vh;
    justify-content: space-between;
    align-items: center;

}

.cardHeader h2 {
  font-size: 2.5vh;
  color: #333;
}


.iconEdit {
  font-size: 2.5vh;
  color: #d17c78;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.iconEdit:hover {
  color: #b96464;
}


.cardContent {
  display: flex;
    flex-direction: column;
    height: 77%;
    width: 88%;
    gap: 1.5vh;
    align-content: center;
    justify-content: flex-start;
}

.detailRow {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.label {
  font-size: 2.8vh;
  font-weight: 700;
  color: #000;
}

.value {
  font-size: 2.3vh;
  color: #757272;
  font-family: 'Product Sans';
}