.progress_bar_border{
    width: 70%;
    border-radius: 15px;
    height: 11%;
    border: none;
    background-color: #e7e7e7;;
}

.progress_bar{
    height: 100%;
    border-radius: 15px;
    background-color: #c6524e;
}