.dressShapeChild,
.dressShapeItem {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.dressShapeChild {
  left: 285px;
  border-radius: var(--br-11xl) 0 0 0;
  background-color: var(--color-lightpink-200);
  width: 730.6px;
}
.dressShapeItem {
  left: 0;
  max-height: 100%;
  width: 384.4px;
  z-index: 1;
}
.dressShape {
  height: 578px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.detalheAtrs {
  width: 1015.6px;
  margin: 0 !important;
  position: absolute;
  top: 33px;
  right: 0.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.exploreNossaSeleo {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.desdeOClssico {
  width: 559px;
  position: relative;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.02em;
  line-height: 39px;
  color: var(--color-black);
  display: inline-block;
  max-width: 100%;
}
.exploreNossaSeleoDeVestiParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  flex-shrink: 0;
  max-width: 100%;
}
.botoChild {
  height: 68.1px;
  width: 298px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow-100);
  border: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  display: none;
}
.buscarVestidos {
  width: 232.6px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.buscarVestidosWrapper {
  width: 204.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.ionarrowUpIcon1 {
  height: 34px;
  width: 33.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.boto,
.dressDescription,
.dressSlogan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.boto {
  height: 68.1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow-100);
  border: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-8xl) var(--padding-smi);
  flex-shrink: 0;
  font-size: var(--font-size-4xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-montserrat);
}
.dressDescription,
.dressSlogan {
  flex-direction: column;
  max-width: 100%;
}
.dressSlogan {
  align-self: stretch;
  gap: var(--gap-53xl);
}
.dressDescription {
  width: 595px;
  padding: 0 0 var(--padding-97xl);
  box-sizing: border-box;
}
.card1Icon {
  height: 615px;
  width: 443px;
  position: relative;
  border-radius: var(--br-3xl);
  flex-shrink: 0;
  object-fit: cover;
}
.card2Icon {
  cursor: pointer;
}
.card2Icon,
.card3Icon {
  height: 455px;
  width: 308px;
  position: relative;
  border-radius: var(--br-3xl);
  flex-shrink: 0;
  object-fit: cover;
}
.container,
.containerVestido,
.dressCards {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.dressCards {
  height: 591px;
  width: 914px;
  overflow-x: auto;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-117xl) 0 0;
  gap: var(--gap-20xl);
}
.container,
.containerVestido {
  opacity: 0.99;
  z-index: 2;
}
.container {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) 0 0 var(--padding-11xs);
}
.containerVestido {
  margin-left: -6px;
  align-self: stretch;
  background-color: var(--color-snow-100);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-119xl) 0 var(--padding-26xl) var(--padding-110xl);
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-500);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1725px) {
  .container,
  .dressDescription {
    flex: 1;
  }
  .containerVestido {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1350px) {
  .container {
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .exploreNossaSeleo {
    font-size: var(--font-size-19xl);
  }
  .dressSlogan {
    gap: var(--gap-17xl);
  }
  .dressDescription {
    padding-bottom: var(--padding-56xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .containerVestido,
  .dressCards {
    padding-top: var(--padding-69xl);
    box-sizing: border-box;
  }
  .containerVestido {
    padding-top: var(--padding-71xl);
    padding-bottom: var(--padding-10xl);
  }
}
@media screen and (max-width: 450px) {
  .exploreNossaSeleo {
    font-size: var(--font-size-10xl);
  }
  .desdeOClssico {
    font-size: var(--font-size-3xl);
    line-height: 31px;
  }
  .buscarVestidos {
    font-size: var(--font-size-lg);
  }
  .dressSlogan {
    gap: var(--gap-lg);
  }
  .dressCards {
    gap: var(--gap-lgi);
  }
  .containerVestido {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
