.dressesSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #fdf2f2;
}

.textContainer {
  max-width: 40%;
}

.selectedImage {
  width: 300px;
  height: 450px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.descriptionText {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555;
}

.button {
  background-color: #ff707b;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.dressCarousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  align-items: center;
  padding: 20px;
  background-color: #ffd7da;
  border-radius: 30px;
}

.dressItem {
  width: 120px;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.dressItem:hover {
  transform: scale(1.05);
}
