.perguntasFrequentes1 {
  margin: 0;
}
.perguntasFrequentes {
  margin: 0;
  height: 304.8px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 816px;
  max-width: 100%;
}
.oQue {
  position: relative;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 1;
}
.weuiarrowOutlinedIcon3 {
  width: 45.1px;
  height: 23.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.questionOneIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.questionContent,
.questionWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.questionContent {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.questionWrapper {
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.lineDiv,
.questionTwoContainerInner,
.questionWrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.lineDiv {
  flex: 1;
  position: relative;
  border-top: 2px solid var(--color-black);
  z-index: 1;
}
.questionTwoContainerInner {
  height: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.quemPodeSe {
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.weuiarrowOutlined {
  position: absolute;
  top: 0;
  left: 45.02px;
  width: 23px;
  height: 45px;
  overflow: hidden;
  transform: rotate(89.8deg);
  transform-origin: 0 0;
}
.vectorIcon {
  position: absolute;
  top: 15.1px;
  left: 17.4px;
  width: 24.4px;
  height: 13.7px;
  object-fit: contain;
  z-index: 1;
}
.iconTwoWrapper {
  width: 45.1px;
  height: 28.8px;
  position: relative;
}
.questionTwoIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.questionTwoContent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.questionTwoWrapperChild {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.questionTwoContainer,
.questionTwoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.questionTwoWrapper {
  height: 61px;
  align-items: flex-end;
  padding: 0 0 var(--padding-11xs);
  gap: var(--gap-2xl-2);
}
.questionTwoContainer {
  align-items: flex-start;
  padding: 0 0 var(--padding-xs-1);
  gap: var(--gap-3xl);
}
.queVantagensO {
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.vectorIcon1 {
  position: absolute;
  top: 6.9px;
  left: 9.4px;
  width: 24.4px;
  height: 13.7px;
  object-fit: contain;
  transform: rotate(-89.81deg);
  z-index: 1;
}
.weuiarrowOutlined1 {
  width: 23px;
  height: 45px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(89.8deg);
}
.questionthreIcon {
  height: 30.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-4xl) 0 0;
  box-sizing: border-box;
}
.questionthreContent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.innerQuestionthre {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  flex-shrink: 0;
}
.innerQuestionthre,
.questionthreContainer,
.questionthreWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.questionthreWrapper {
  height: 58px;
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-11xs);
  gap: var(--gap-lgi);
}
.questionthreContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-2xs-1) var(--padding-12xs);
}
.comoPossoMe {
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.vectorIcon2 {
  position: absolute;
  top: 3.6px;
  left: 10.4px;
  width: 24.4px;
  height: 13.7px;
  object-fit: contain;
  transform: rotate(-89.81deg);
  z-index: 1;
}
.innerQuestionfou,
.questionfouIcon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.questionfouIcon {
  height: 27.1px;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-4xl) 0 0;
  box-sizing: border-box;
}
.innerQuestionfou {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-42xl);
  max-width: 100%;
}
.questionfouContainerChild {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.questionfouContainer,
.questioninnrContainers {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.questionfouContainer {
  height: 59px;
  display: flex;
  align-items: flex-start;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-4xl);
  max-width: 100%;
  font-size: var(--font-size-9xl);
}
.questioninnrContainers {
  gap: var(--gap-5xl-9);
}
.fAQ,
.fAQTitle,
.questionconainers,
.questioninnrContainers {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.questionconainers {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
  min-width: 595px;
  margin-left: -55px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.fAQ,
.fAQTitle {
  flex-direction: row;
  justify-content: center;
}
.fAQTitle {
  row-gap: 20px;
}
.fAQ {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-185xl) var(--padding-9xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-indianred-400);
  font-family: var(--font-product-sans);
}
@media screen and (max-width: 1725px) {
  .perguntasFrequentes {
    flex: 1;
  }
  .fAQTitle {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .innerQuestionfou {
    gap: var(--gap-11xl);
    flex-wrap: wrap;
  }
  .questionfouContainer {
    height: auto;
  }
  .questionconainers {
    margin-left: 0;
  }
}
@media screen and (max-width: 900px) {
  .perguntasFrequentes {
    font-size: var(--font-size-32xl);
    min-width: 100%;
  }
  .oQue,
  .quemPodeSe {
    font-size: var(--font-size-5xl);
  }
  .questiontwocontent {
    flex-wrap: wrap;
  }
  .questiontwowrapper {
    height: auto;
  }
  .queVantagensO {
    font-size: var(--font-size-5xl);
  }
  .questionthreContent {
    flex-wrap: wrap;
  }
  .questionthreWrapper {
    height: auto;
  }
  .questionconainers {
    min-width: 100%;
  }
  .fAQ {
    padding-bottom: var(--padding-114xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .perguntasFrequentes {
    font-size: var(--font-size-19xl);
  }
  .oQue {
    font-size: var(--font-size-lg);
  }
  .questionContent {
    flex-wrap: wrap;
  }
  .queVantagensO,
  .quemPodeSe {
    font-size: var(--font-size-lg);
  }
  .comoPossoMe {
    font-size: var(--font-size-3xl);
  }
  .innerQuestionfou {
    gap: var(--gap-mini);
  }
}
