.fundoo {
  width: 1919px;
  height: 447px;
  position: relative;
  background-color: var(--color-lightcoral-200);
  display: none;
  max-width: 100%;
}
.descubraFornecedoresDe {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.categoryTitle {
  width: 1411.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.fotosVdeo {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.camera11 {
  height: 140px;
  width: 140px;
  position: absolute;
  margin: 0 !important;
  top: -133.5px;
  left: 19.6px;
  object-fit: cover;
  z-index: 2;
}
.photography,
.photographyContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.photographyContent {
  flex-direction: row;
  position: relative;
}
.photography {
  flex-direction: column;
  padding: var(--padding-100xl-5) var(--padding-sm) 0 0;
}
.local,
.local1Icon {
  position: relative;
  flex-shrink: 0;
}
.local1Icon {
  width: 96px;
  height: 96px;
  object-fit: cover;
  z-index: 2;
}
.local {
  flex: 1;
  font-weight: 600;
  z-index: 1;
}
.categoryIcons,
.categoryNames,
.categoryPairs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categoryNames {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-3xs);
}
.categoryIcons,
.categoryPairs {
  flex-direction: column;
}
.categoryIcons {
  align-self: stretch;
  gap: var(--gap-sm-4);
}
.categoryPairs {
  width: 151.3px;
  padding: var(--padding-4xs) var(--padding-12xl) 0 0;
  box-sizing: border-box;
}
.msica,
.muscav21Icon {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.muscav21Icon {
  width: 115px;
  height: 114px;
  object-fit: cover;
}
.msica {
  font-weight: 600;
}
.music,
.musicContent,
.musicName {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.musicName {
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 var(--padding-5xs);
  margin-top: -1.5px;
}
.music,
.musicContent {
  flex-direction: column;
}
.music {
  width: 186.3px;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.boloDeCasamento1Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 2;
}
.cake,
.cakeContent,
.cakeName {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cakeName {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 var(--padding-3xl);
  margin-top: -0.5px;
}
.cake,
.cakeContent {
  flex-direction: column;
}
.cakeContent {
  width: 104px;
  flex: 1;
}
.cake {
  width: 159.9px;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.vestidoDeCasamento11 {
  width: 109px;
  height: 110px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.noiva {
  flex: 1;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.noivaWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
}
.categoryPairs1,
.vestidoDeCasamento11Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vestidoDeCasamento11Parent {
  align-self: stretch;
  gap: var(--gap-12xs-5);
}
.categoryPairs1 {
  width: 128.3px;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.noivo {
  width: 109.3px;
  position: absolute;
  margin: 0 !important;
  right: -6.3px;
  bottom: -17px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.camisa1Icon {
  height: 134px;
  width: 129px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.categoryGrid,
.fornecedoresPorCategoria {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.categoryGrid {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-23xl-7);
  font-size: var(--font-size-7xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-montserrat);
}
.fornecedoresPorCategoria {
  margin-left: -1px;
  margin-bottom: 68px;
  align-self: stretch;
  background-color: var(--color-lightcoral-200);
  flex-direction: column;
  padding: var(--padding-73xl) var(--padding-111xl) var(--padding-79xl-5);
  box-sizing: border-box;
  gap: var(--gap-25xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-800);
  font-family: var(--font-product-sans);
}
@media screen and (max-width: 1350px) {
  .fornecedoresPorCategoria {
    padding-left: var(--padding-46xl);
    padding-right: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .descubraFornecedoresDe {
    font-size: var(--font-size-19xl);
  }
  .categoryGrid {
    gap: var(--gap-2xl);
  }
  .fornecedoresPorCategoria {
    gap: var(--gap-3xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .descubraFornecedoresDe {
    font-size: var(--font-size-10xl);
  }
  .fotosVdeo,
  .local,
  .msica,
  .noiva,
  .noivo {
    font-size: var(--font-size-2xl);
  }
  .fornecedoresPorCategoria {
    padding-top: var(--padding-41xl);
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }
}
