.imagem-icon1,
.pngwingcom-1-1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  max-height: 100%;
  object-fit: cover;
}
.imagem-icon1 {
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.pngwingcom-1-1 {
  left: -460px;
  z-index: 1;
}
.pngwingcom-1-2 {
  height: 573px;
  width: 1043px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.simples-organizado-sem {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.simples-organizado-sem-container {
  width: 430px;
  position: relative;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: inline-block;
  flex-shrink: 0;
  min-height: 54px;
  max-width: 100%;
  z-index: 3;
}
.hero-description {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-330xl) var(--padding-116xl) var(--padding-151xl);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  z-index: 2;
}
.titulo-da-header {
  margin: 0 !important;
  width: 1054px;
  position: absolute;
  top: 211px;
  left: -185px;
  font-size: var(--font-size-33xl);
  letter-spacing: 0.03em;
  line-height: 60px;
  font-weight: 400;
  font-family: var(--font-playfair-display);
  display: inline-block;
  z-index: 3;
}
.hero-content,
.imagem-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  max-width: 100%;
}
.hero-content {
  width: 1043px;
  justify-content: flex-start;
}
.imagem-parent {
  margin-left: -1px;
  margin-bottom: 104px;
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-132xl) var(--padding-240xl) 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-snow-100);
  font-family: var(--font-product-sans);
}
@media screen and (max-width: 1350px) {
  .imagem-parent {
    padding-left: var(--padding-110xl);
    padding-right: var(--padding-110xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .hero-description {
    padding: var(--padding-208xl) var(--padding-48xl) var(--padding-91xl);
    box-sizing: border-box;
  }
  .titulo-da-header {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .imagem-parent {
    padding-left: var(--padding-45xl);
    padding-top: var(--padding-79xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .simples-organizado-sem-container {
    font-size: var(--font-size-base);
  }
  .hero-description {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .titulo-da-header {
    font-size: var(--font-size-12xl);
    line-height: 36px;
  }
  .imagem-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
