.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.authButtons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.signup {
  background-color: #ff707b;
  color: white;
}

.login {
  background-color: transparent;
  border: 1px solid #ff707b;
  color: #ff707b;
}
