/* HeaderSection.module.css */

.headerSection {
  position: relative;
  height: 500px;
  background-image: url('/Assets/banner.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Overlay escuro sobre a imagem */
}

.textContent {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #FFFFFF;
  max-width: 700px;
  padding: 0 20px;
}

.textContent h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.textContent p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 20px;
}
