.newsletter {
    background-image: url('../assets/newsletter_banner.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 81vh;
    display: flex;
    justify-content: center;
}

.newsletter .container {
    position: relative;
    top: 14vh;
    text-align: center;
}

.newsletter .container h1 {
    font-family: 'Qlassy';
    font-size: 54px;
    font-weight: 400;
    margin: 0vh 0vw;
}

.newsletter .container p {
    color: #272727;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1vh 0vw;
}

.newsletter .container p a {
    font-weight: 700;
    text-decoration: none;
    color: #272727;
}

.newsletter .container .container_input {
    width: 40vw;
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 1vh 0.5vw 1vh 2vw;
    border-radius: 12px;
    margin: 2vh 0vw 3.5vh 0vw;
    background-color: #FBF9F7;
    box-shadow: 0px 4px 4px 0px rgba(91, 88, 88, 0.25);
}

.newsletter .container .container_input input{
    width: 60%;
    border-radius: 5px;
    border: 0px;
    height: 100%;
    background-color: #FBF9F7;
    padding: 0px 0.2vw;
    font-family: 'Montserrat';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.newsletter .container .container_input button{
    width: 40%;
    height: 100%;
    border-radius: 7px;
    border: 0px;
    color: #FBF9F7;
    font-family: 'Montserrat';
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #DD7B78;
    transition: 0.5s;
    cursor: pointer;
}

.newsletter .container .container_input button:hover{
    background-color: #D26966;
}