.opinio3Child {
  width: 481.2px;
  height: 583px;
  position: relative;
  border-radius: var(--br-31xl) var(--br-81xl) var(--br-31xl) var(--br-81xl);
  background-color: var(--color-lightpink-100);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.loremIpsumDolor {
  width: 358px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.bxsquoteLeftIcon {
  width: 85px;
  height: 87px;
  position: absolute;
  margin: 0 !important;
  top: 54px;
  left: 39px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.bxsquoteLeftIcon1 {
  width: 85.1px;
  height: 87.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.imageIcon4 {
  height: 104px;
  width: 104px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.isabelaCambui,
.noiva1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.isabelaCambui {
  font-weight: 600;
}
.noiva1 {
  font-size: var(--font-size-base);
}
.clientNameContainers,
.clientNameInnerContainers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.clientNameInnerContainers {
  align-self: stretch;
}
.clientNameContainers {
  flex: 1;
  padding: var(--padding-sm) 0 0;
}
.clientInfoContainers,
.clientInfoInnerContainers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.clientInfoInnerContainers {
  width: 313px;
  gap: var(--gap-mid);
  flex-shrink: 0;
}
.clientInfoContainers {
  align-self: stretch;
}
.quoteIconContainers,
.quoteIconInnerContainers {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.quoteIconInnerContainers {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-11xs-9);
}
.quoteIconContainers {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-mid);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-600);
  font-family: var(--font-inter);
}
.opinio3Item {
  width: 126px;
  height: 24px;
  position: absolute;
  margin: 0 !important;
  right: 154.2px;
  bottom: 72px;
  z-index: 2;
}
.opinio3 {
  width: 481.2px;
  border-radius: var(--br-31xl) var(--br-81xl) var(--br-31xl) var(--br-81xl);
  background-color: var(--color-lightpink-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-122xl) var(--padding-11xl) var(--padding-35xl)
    var(--padding-45xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-smi);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-questrial);
}
@media screen and (max-width: 900px) {
  .opinio3 {
    padding-left: var(--padding-13xl);
    padding-top: var(--padding-73xl);
    padding-bottom: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .loremIpsumDolor {
    font-size: var(--font-size-xl);
  }
  .isabelaCambui {
    font-size: var(--font-size-base);
  }
}
