.voc-um {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: var(--font-product-sans);
  z-index: 1;
}
.imagem3-icon {
  height: 802px;
  width: 1949px;
  position: absolute;
  margin: 0 !important;
  top: -320px;
  right: -937px;
  object-fit: cover;
}
.gerencie-sua-agenda {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.facilite-seu-trabalho {
  margin: 0;
}
.gerencie-sua-agenda-container {
  height: 235px;
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 125%;
  font-weight: 500;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.imagem3-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-7xl);
}
.boto-item {
  height: 62.7px;
  width: 286px;
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightcoral-100);
  display: none;
}
.comece-agora1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 24.5px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-snow-100);
  text-align: left;
  z-index: 1;
}
.boto1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-6) var(--padding-3xl) var(--padding-2xl-6)
    var(--padding-18xl);
  background-color: var(--color-lightcoral-100);
  width: 286px;
  border-radius: var(--br-6xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 1;
}
.boto1:hover {
  background-color: var(--color-indianred-200);
}
.voc-j-tem {
  font-weight: 500;
}
.faa-login-agora {
  text-decoration: underline;
  font-weight: 600;
}
.voc-j-tem-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  z-index: 1;
}
.planner-description {
  width: 877px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-49xl);
  color: var(--color-snow-100);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 900px) {
  .voc-um {
    font-size: var(--font-size-35xl);
  }
}
@media screen and (max-width: 450px) {
  .voc-um {
    font-size: var(--font-size-22xl);
  }
  .gerencie-sua-agenda-container {
    font-size: var(--font-size-2xl);
    line-height: 26px;
  }
  .voc-j-tem-container {
    font-size: var(--font-size-lgi);
  }
  .planner-description {
    gap: var(--gap-mid);
  }
}
