.opcao1Icon,
.opcao2Icon {
  object-fit: cover;
  max-width: 100%;
}
.opcao2Icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  max-height: 100%;
}
.opcao1Icon {
  width: 1919px;
  height: 754px;
  position: relative;
  display: none;
  z-index: 1;
}
.aManeiraFcil {
  margin: 0;
  align-self: stretch;
  height: 96.3px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.caixaChild {
  height: 89px;
  width: 792px;
  position: relative;
  box-shadow: 0 4px 4px rgba(91, 87, 87, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--color-snow-100);
  display: none;
  max-width: 100%;
}
.iconEmail {
  width: 28px;
  height: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.inptIconContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.seuEndereoDe {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 193px;
  max-width: 100%;
  z-index: 1;
}
.inputInnerWrapper,
.inputWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.inputInnerWrapper {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-sm);
  flex-shrink: 0;
}
.inputWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl-9) 0 0;
  box-sizing: border-box;
  min-width: 252px;
}
.botoInner {
  height: 70.5px;
  width: 328.1px;
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--color-indianred-100);
  display: none;
  max-width: 100%;
}
.comeceAPlanejar {
  flex: 1;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.boto2 {
  width: 328.1px;
  border-radius: var(--br-6xs);
  background-color: var(--color-indianred-100);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-lgi-9) var(--padding-lg) var(--padding-2xl-6)
    var(--padding-8xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  font-size: var(--font-size-4xl);
  color: var(--color-snow-100);
}
.boto2,
.caixa,
.footerForm,
.footerSloganContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.caixa {
  flex: 1;
  box-shadow: 0 4px 4px rgba(91, 87, 87, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--color-snow-100);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs-1) var(--padding-6xs) var(--padding-3xs-4)
    var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-23xl-8);
  z-index: 1;
}
.footerForm,
.footerSloganContainer {
  justify-content: flex-start;
}
.footerForm {
  width: 948px;
  flex-direction: row;
  padding: 0 var(--padding-59xl);
  box-sizing: border-box;
  margin-top: -9.3px;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-montserrat);
}
.footerSloganContainer {
  width: 974px;
  flex-direction: column;
}
.jTemUma {
  font-weight: 500;
}
.jTemUmaContainer {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  z-index: 1;
}
.loginLink {
  width: 511px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
}
.vocUmContainer {
  align-self: stretch;
  height: 50px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.accountOptions,
.loginLinkParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.loginLinkParent {
  width: 547px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.accountOptions {
  width: 945px;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
.ultimaSessao {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-138xl) var(--padding-427xl) var(--padding-285xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-14xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-38xl);
  color: var(--color-gray-400);
  font-family: var(--font-qlassy);
}
@media screen and (max-width: 1350px) {
  .caixa {
    flex-wrap: wrap;
  }
  .footerForm,
  .ultimaSessao {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .ultimaSessao {
    padding-left: var(--padding-204xl);
    padding-right: var(--padding-204xl);
  }
}
@media screen and (max-width: 900px) {
  .aManeiraFcil {
    font-size: var(--font-size-27xl);
  }
  .inputInnerWrapper {
    flex-wrap: wrap;
  }
  .loginLink {
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-23xl);
    box-sizing: border-box;
  }
  .ultimaSessao {
    gap: var(--gap-base);
    padding: var(--padding-83xl) var(--padding-92xl) var(--padding-179xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aManeiraFcil {
    font-size: var(--font-size-15xl);
  }
  .seuEndereoDe {
    font-size: var(--font-size-mid);
  }
  .caixa {
    gap: var(--gap-2xl);
  }
  .jTemUmaContainer {
    font-size: var(--font-size-lgi);
  }
  .loginLink {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .vocUmContainer {
    font-size: var(--font-size-lgi);
  }
  .ultimaSessao {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
