.wedding_locations {
  text-align: center;
  margin: 10vh 0px;
}

.wedding_locations h1 {
  color: #312D2D;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Playfair';
  margin: 8vh 0vw;
}

.wedding_locations .button_area{
  margin: 3vh 0px;
  display: flex;
  justify-content: center;
}

.wedding_locations button {
  padding: 1.5vh 2vw;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #5C5656;
  background-color: #FBF9F7;
  border: 1px solid #9B9B9B;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.wedding_locations button:hover {
  background-color: #f3f3f3;
}

.wedding_locations .container {
  display: flex;
  justify-content: space-around;
  padding: 0px 5vw;
}

.location {
  color: #B55557;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  transition: 0.5s;
}

.location:hover {
  transform: scale(1.05);
}