.fase6{
    width: 100%;
    height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fase6_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    font-size: 1.4rem;
    font-family: "Playfair Display", serif;
}

.fase6_content_input{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 70%;
        font-family: "Montserrat";

    font-size: 1rem;
}

.fase6_content2{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

}

.fase6_content_input_radio{
    display: flex;
    font-size: 1rem;
    width: 100%;
    align-items: center;
    justify-content: start;
    height: 35%;

}

.noSure { 
    width: 100vw;
}
.fase6_content_input_radio input{
    min-width: 15%;
    accent-color: #c6524e;
    margin-right: 4%;
    height: 100%;
}

.fase6_content_input_container{
    width: 39%;
    white-space: nowrap;
    height: 70%;
}

.fase6_button{
    padding: 2% 12%;
    background-color: #c6524e;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

    margin: 3% 0;
}