.box {
    height: 631px;
    width: 1920px;
  }
  

  .box .rectangle {
    background-color: #0000005c;
    height: 627px;
    left: 0;
    position: absolute;
    top: 137px;
    width: 1876px;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
  }
  
  
  .searchBar {
    position: absolute;
    bottom: 132px;
    width: 100%;
    z-index: 1;
  }