.box {
    height: 100%;
    width: 100%;
  }
  

  .box .rectangle {
    background-color: #0000005c;
    filter: drop-shadow(29px 7px 11px black);
    height: 622px;
    left: -21px;
    position: absolute;
    top: 137px;
    width: 101%;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
  }
  
  
  .searchBar {
    position: absolute;
    bottom: 132px;
    width: 100%;
    z-index: 1;
  }