.wedding_locations {
  text-align: center;
  margin: 10vh 0px;
}

.wedding_locations h1 {
  color: #312D2D;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Playfair';
  margin: 8vh 0vw;
}

.wedding_locations .button_area{
  margin: 3vh 0px;
  display: flex;
  justify-content: center;
}

.wedding_locations button {
  padding: 1.5vh 2vw;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #5C5656;
  background-color: #FBF9F7;
  border: 1px solid #9B9B9B;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.wedding_locations button:hover {
  background-color: #f3f3f3;
}

.wedding_locations .container {
  display: flex;
  justify-content: space-around;
  padding: 0px 5vw;
}

.location {
  color: #B55557;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  transition: 0.5s;
}

.location:hover {
  transform: scale(1.05);
}

@media(max-width:768px) {
  .wedding_locations h1 {
    font-size: 32px;
  }

  .wedding_locations img {
    width: 80vw;
  }

  .slide_wrapper{
    overflow: hidden;
  }
  
  .wedding_locations .container {
    width: calc(100%*4);
    animation: slide 10s infinite;
    justify-content: space-between !important;
  }

  @keyframes slide {
    0% {
      transform: translateX(1.3%); /* Primeiro slide */
    }
    20% {
      transform: translateX(1.3%); /* Pausa no primeiro slide */
    }
    25% {
      transform: translateX(-25%); /* Move para o segundo slide */
    }
    45% {
      transform: translateX(-25%); /* Pausa no segundo slide */
    }
    50% {
      transform: translateX(-50%); /* Move para o terceiro slide */
    }
    70% {
      transform: translateX(-50%); /* Pausa no terceiro slide */
    }
    75% {
      transform: translateX(-76%); /* Move para o quarto slide */
    }
    95% {
      transform: translateX(-76%); /* Pausa no quarto slide */
    }
    100% {
      transform: translateX(1.3%); /* Volta ao primeiro slide */
    }
  }
}