.container {
  background-color: #f3eed9;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_confirm {
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  background-image: url("../../assets/confirm_invite_bg.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.title_confirm {
  width: 70%;
}

.title_confirm_final {
  width: 100%;
}

.title_confirm,
.title_confirm_final {
  font-weight: 800;
  font-size: 3rem;
  font-family: "ProductSans";
  text-align: center;
}

.description_confirm {
  text-align: center;
  width: 70%;
  font-size: 1rem;
  font-family: "Poppins";
}

.input_container {
  width: 100%;
}

.proceed_button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 20%;
  height: 5vh;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.proceed_button {
  background-color: #d86b67;
}

input {
  height: 5vh;
  width: 100%;
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 1px 20px;
  font-family: "Poppins";
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 1s linear infinite;
}

.error_message {
  color: #e83737;
}

.guest_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 30vh;
  width: 100%;
  overflow: auto;
}

.row_guest {
  padding: 0 20px;
  background-color: #ffffff;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  min-height: 6vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 95%;
  font-family: "Montserrat";
}

.row_guest span {
  text-align: center;
}

.attending_buttons_container {
  background-color: #f9f9f9;
  border: 1px solid #d1cbcb;
  height: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-around;
}

.attending_buttons_container button {
  background-color: transparent;
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  cursor: pointer;
}

.selected_attending {
  background-color: #696969 !important;
  color: #ffffff;
}

.title_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 760px) {
  .guest_list {
    height: 50vh;
  }

  .title_confirm,
  .title_confirm_final {
    font-size: 3.8rem;
    width: 100%;
    font-weight: bold;
  }

  .description_confirm {
    width: 100%;
    font-size: 1.1rem;
  }

  .title_description {
    text-align: center;
  }

  .form_confirm {
    gap: 50px;
    background-image: none;
  }

  .input_container {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
  }

  .error_message {
    font-size: 0.85rem;
  }
  .form {
    gap: 50px;
  }
  .proceed_button {
    width: 100%;
    border-radius: 12px;
  }

  .row_guest {
    width: 100%;
    display: flex;
    border-radius: 10px;
    gap: 12px;
    min-height: 12vh;
    padding: 10px;
    flex-direction: column;
  }

  .form_confirm {
    width: 80%;
  }

  .attending_buttons_container {
    width: 95%;
    border-radius: 15px;
  }

  .row_guest span {
    width: 95%;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: left;
  }



.attending_buttons_container button {
  font-size: 0.9rem;
  border-radius: 10px;
}
}
