

.containerPai {
    width: 100%;
    height: 100%;
    
}
.searchbar {
    width: 90%; 
    max-width: 90%;
  }

  .container {
    width: 100%; 
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F3EED9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardContainer {
    width: 85%;
    height: 85%;


  }

  .cadaCard { 
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .paginacaoContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
        background-color: #F3EED9;
  }